@model MvcShopping.Models.MemberLoginViewModel

<h3>登陆</h3>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset style="text-align:center">
        <legend>用户登陆</legend>

        <div class="editor-label ">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email, new { data_val_email = "请输入Email地址" })
            @Html.ValidationMessageFor(model => model.Email)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>

        <p>
            <input type="submit" value="登录" />
        </p>
    </fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
